:root {
    --60: #1f2937;
    --30: #273549;
    --10: #10b981;
    --10-hover: #0d9769;
    --10-active: #0b7250;
    --header: #ffffff;
    --font: #c5c5c5;
}

body {
    border: solid 5px var(--header);
    border-radius: 25px;

    padding: 8rem 4rem;

    background: var(--60);

    max-width: 800px;
    max-height: 600px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.space {
    margin: 4rem 0;
}

.center {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin: 0;

    font-size: 3rem;
    font-weight: bold;
}

h2 {
    margin: 10px 0;

    font-size: 1.5rem;
    font-weight: 100;
    color: var(--font);
}

.highlight {
    color: var(--10);
}

.block {
    display: block;
}

.inline {
    display: flex;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    grid-template-rows: 1ch 1ch;
    grid-template-columns: 36ch 36ch;
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
}

.generated-password-field {
    border: none;
    border-radius: 10px;

    background: var(--30);

    color: var(--10);

    padding: 1rem;
    
    width: 36ch;
    height: 1ch;

    text-align: center;
    line-height: 10px;
}

p {
    font-weight: 100;
    color: var(--font);
}

input {
    border: solid 2px var(--10);
    border-radius: 10px;

    background: var(--30);

    width: 100px;
    height: 25px;

    text-align: center;
}

button {
    margin: 1rem 0;

    border: none;
    border-radius: 10px;

    background: var(--10);

    font-size: inherit;
    padding: 1rem;
}

button:hover {
    background: var(--10-hover);
    cursor: pointer;
}

button:active {
    background: var(--10-active);
}