@font-face {
    font-family: Gilroy-Light;
    src: url("resources/fonts/Gilroy-Light.otf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("resources/fonts/Gilroy-ExtraBold.otf");
}





:root {
    --60: #1f2937;
    --30: #273549;
    --10: #0da673;
    --10-hover: #0b8159;
    --10-active: #096345;
    --header: #ffffff;
    --font: #f0f0f0;
}





body {
    border: solid 5px var(--header);
    border-radius: 25px;

    padding: 8rem 4rem;

    background: var(--60);
    color: var(--font);

    max-width: 800px;

    font-family: Gilroy-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    margin: 0;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

h2 {
    margin: 10px 0;

    color: var(--font);

    font-size: 2rem;
}

p {
    color: var(--font);
}

span {
    color: var(--font);
}

input {
    display: block;

    border: solid 2px var(--10);
    border-radius: 10px;

    background: var(--30);
    color: inherit;

    width: 100px;
    height: 25px;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    margin: 1rem 0;

    border: none;
    border-radius: 10px;

    background: var(--10);
    color: var(--font);

    font-size: inherit;
    font-weight: bold;

    padding: 1rem;
}

button:hover {
    background: var(--10-hover);
    cursor: pointer;
}

button:active {
    background: var(--10-active);
}





.space {
    margin: 4rem 0;
}

.center {
    display: flex;
    justify-content: space-evenly;
}

.highlight {
    color: var(--10);
}

.underline {
    border-bottom: solid 2px var(--font);
}

.block {
    display: block;
}

.generated-password-field {
    border: none;
    border-radius: 10px;

    background: var(--30);
    color: var(--10);

    padding: 1rem;
    
    width: 36ch;
    height: 1ch;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 10px;
}

.generated-password-field:hover {
    background-color: var(--10-hover);
}

.generated-password-field:active {
    background-color: var(--10-active);
}

.grid {
    display: grid;
    grid-template-columns: 1 1;
    grid-template-rows: 4ch 4ch;
    grid-gap: 1ch;
}

.column1 {
    grid-column: 1;
    width: auto;
    height: auto;
}

.column2 {
    grid-column: 2;
    width: auto;
    height: auto;
}

.row1 {
    grid-row: 1;
    width: auto;
    height: auto;
}

.row2 {
    grid-row: 2;
    width: auto;
    height: auto;
}