@import "variables.css";
@import "animations.css";




.space {
    margin: 4rem 0;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.center {
    margin: auto;
}

.border {
    border: solid 5px var(--color-header);
    border-radius: 25px;

    padding: clamp(1rem, 4vw + 1rem, 4rem);
}

.highlight {
    color: var(--color-10);
}

.underline {
    border-bottom: solid 2px var(--color-font);
}

.block {
    display: block;
}

.generated-password-field {
    border: none;
    border-radius: 10px;

    background: var(--color-30);
    color: var(--color-10);

    padding: 1rem;
    
    width: 36ch;
    height: 1ch;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 10px;

    animation: "";
}

@keyframes context-menu {
    from {
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}

.generated-password-field:hover {
    background-color: var(--color-10-hover);
    cursor: pointer;
}

.generated-password-field:active {
    background-color: var(--color-10-active);
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid__item {
    display: flex;
    align-items: center;

    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1rem 1rem 1rem 1rem;
    }
}