@import "variables.css";
@import "animations.css";




:root {
    font-size: 18px;
}

*::selection {
    color: var(--color-60);
    background: var(--color-selection);
    text-shadow: 2px 2px 5px var(--color-60);
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;

    margin: 0;

    width: inherit;
    height: inherit;

    display: flex;

    background: var(--color-60);
    color: var(--color-font);

    font-family: Gilroy-Light, Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 4vw + 1rem, 3rem);
}

h2 {
    margin: 10px 0;

    color: var(--color-font);

    font-size: clamp(1rem, 2vw + 1rem, 2rem);
}

p {
    color: var(--color-font);

    font-size: clamp(0.5rem, 2vw + 0.5rem, 2rem);
}

span {
    color: var(--color-font);
}

input {
    display: block;

    border: solid 2px var(--color-10);
    border-radius: 10px;

    background: var(--color-30);
    color: inherit;

    font-family: Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 1.5rem);;
    text-align: center;
}

button {
    margin: 1rem 0;

    border: none;
    border-radius: 10px;

    background: var(--color-10);
    color: var(--color-font);

    font-size: inherit;
    font-weight: bold;

    padding: 1rem;
}

button:hover {
    background: var(--color-10-hover);
    cursor: pointer;
}

button:active {
    background: var(--color-10-active);
}